@import "tailwindcss";

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
  cursor: pointer;
}

.nav a {
  width: 100px;
  padding: 5px;
  gap: 20px;
}

.nav a:hover {
  width: 100px;
  border: solid white 1px;
  gap: 20px;
}

.bookingBtn {
  background-color: red;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  display: float;
  position: fixed;
  top: 70%;
  left: 50%;
}

.bookingBtn:hover {
  background-color: lightgoldenredyellow;
  padding: 10px 20px;
  color: black;
  border: groove white 2px;
  cursor: pointer;
}

.heroimg {
  width: 100%;
  height: auto;
}
