@import "tailwindcss";

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
  cursor: pointer;
}

.nav a {
  width: 100px;
  padding: 5px;
  gap: 20px;
}

.nav a:hover {
  width: 100px;
  border: solid white 1px;
  gap: 20px;
}

.bookingBtn {
  background-color: red;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  display: float;
  position: fixed;
  top: 70%;
  left: 50%;
}

.bookingBtn:hover {
  background-color: lightgoldenredyellow;
  padding: 10px 20px;
  color: black;
  border: groove white 2px;
  cursor: pointer;
}

.heroimg {
  width: 100%;
  height: auto;
}

/* Image galley */

.ImgGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
}

.galleryImg {
  max-width: 23%;
  margin: 1px;
}

.heroImg {
  max-width: 200px;
}
