@import "tailwindcss";

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  cursor: pointer;
}

.bookingBtn {
  background-color: red;
  padding: 4px 12px;
  color: black;
  cursor: pointer;
}

.bookingBtn:hover {
  background-color: lightgoldenredyellow;
  padding: 4px 12px;
  color: black;
  cursor: pointer;
}

.heroimg {
  width: 100%;
  height: auto;
}